{% extends "base.html" %}
{% block title %} Camera Stream {% endblock %}

{% block container %} 

    <h1>R3V - Remote 3D Viewer</h1> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <img src="/camstream/"/>
            </div>
            <div class="col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Control
                    </div>
                    <div class="panel-body">
                        Camera control here.<br></br>
			<label for="moveRight">Right Rotation</label>
			<button id="moveRight">Move Right</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

