{% extends "base.html" %}
{% block title %} Camera Stream {% endblock %}

{% block container %} 

    <h1>R3V - Remote 3D Viewer</h1> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <img src="/camstream/"/>
            </div>
            <div class="col-lg-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Control
                    </div>
                    <div class="panel-body">
			<div class="row">
				<div class="col-sm-5"></div>
				<button id="btn-up" type="button" class="btn btn-default col-sm-2">
          				<span class="glyphicon glyphicon-arrow-up"></span>
        			</button>
				<div class="col-sm-5"></div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<button id="btn-left" type="button" class="btn btn-default col-sm-2">
          				<span class="glyphicon glyphicon-arrow-left"></span>
        			</button>
				<div class="col-sm-4"></div>
				<button id="btn-right" type="button" class="btn btn-default col-sm-2">
          				<span class="glyphicon glyphicon-arrow-right"></span>
        			</button>
				<div class="col-sm-2"></div>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>
				<button id="btn-down" type="button" class="btn btn-default col-sm-2">
        	  			<span class="glyphicon glyphicon-arrow-down"></span>
	        		</button>
				<div class="col-sm-5"></div>
			</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_scripts %}
    <script src="../static/js/camposition.js"></script>
{% endblock %}

