{% extends "base.html" %}

{% block title %}
    Remote 3D Viewer
{% endblock %}

{% block container %}
    <h1>R3V - Remote 3D Viewer</h1>

    <div class="panel panel-default">
    <div class="panel-heading"> <h4>Imagem do cronograma</h4></div>
        <div class="panel-body">
            <img src="../static/images/cronograma.png" title="Cronograma desenvolvido para o projeto R3V" alt="Imagem do cronograma do projeto" class="img-thumbnail">
        </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading"> <h4>Imagem do MindMap</h4></div>
        <div class="panel-body">
            <img src="../static/images/mindmap.png" title="Mindmap R3V" alt="Mindmap do projeto R3V" class="img-thumbnail">
        </div>
    </div>


{% endblock %}

